<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Guide to Barovia</title>
        <link rel="icon" type="image/x-icon" href="static/images/Favicon.ico">
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <script src="static/functions.js"></script>
    </head>
    <body>
        <div id="header-shadow"></div>
        <div id="header">
            <a id="header-title" href="."><b>Guide to Barovia</b></a>
            <a class="header-text" href="npc-list">NPCs</a>
            <a class="header-text" href="map">Map</a>
            <form method="POST" action=".">
                {% if playerView == 'true' %}
                    <input type="hidden" name="playerView" value="false">
                    <input id="view-swap-button" type="submit" value="Swap to DM View">
                {% else %}
                    <input type="hidden" name="playerView" value="true">
                    <input id="view-swap-button" type="submit" value="Swap to Player View">  
                {% endif %}
            </form>
        </div>
        <br>
        <br>
        <br>
        {% block body %}  {% endblock %}
    </body>
</html>