{% extends "base.html.j2" %}

{% block body %}

    <div class="flexbox" style="justify-content: center">
        <a href="npc-list" class="square">
            <p class="square-label" style="left: 15%"> Browse All NPCs </p>
            <img class="square-icon" src="static/images/NPCs.jpg" alt="Various NPCs from Curse of Strahd">
        </a>
        <br>
        <a href="map" class="square">
            <p class="square-label" style="left: 20%"> Map of Barovia </p>
            <img class="square-icon" src="static/images/Barovia Map.jpg" alt="A map of Barovia">
        </a>
    </div>

{% endblock %}