<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Guide to Barovia</title>
        <link rel="icon" type="image/x-icon" href="static/images/Favicon.ico">
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <script src="static/functions.js"></script>
    </head>
    <body id="no-scroll">
        <div id="header-shadow"></div>
        <div id="header">
            <a id="header-title" href="."><b>Guide to Barovia</b></a>
            <a class="header-text" href="npc-list">NPCs</a>
            <a class="header-text" href="map">Map</a>
            <form method="POST" action=".">
                {% if playerView == 'true' %}
                    <input type="hidden" name="playerView" value="false">
                    <input id="view-swap-button" type="submit" value="Swap to DM View">
                {% else %}
                    <input type="hidden" name="playerView" value="true">
                    <input id="view-swap-button" type="submit" value="Swap to Player View">  
                {% endif %}
            </form>
        </div>
        <br>
        <br>
        <br>
        {% if playerView == 'false' %}        
            <button class="add-button" onclick="AddMode()">Add Pin</button>
        {% endif %}

        <img id="pin-cursor" src="https://www.freepnglogos.com/uploads/pin-png/map-pin-png-apex-dance-studio-16.png">

        <div id="location-sidebar">
            <button id="close-location-bar" onclick="ViewMode()">X</button>
            <br>
            <h2 style="margin-top: 20px">Location Info</h2>
            <form method="POST" action="map">
                Name: <br> <input type="text" name="locName" required>
                <br>
                <br>
                Descripton: <br> <textarea name="locDesc" rows="5" cols="36" required></textarea>
                <br>
                <br>
                <span>Related NPCs</span>
                <div class="flexbox">
                    {% for i in npcInfo %}
                        <img id="{{i['name']}}" onclick="AddRelatedNPC('{{i['name']}}')" class="location-npc-icon" src="static/images/{{i['name']}}.png" alt="{{i['name']}}">
                        <input type="hidden" id="{{i['name']}}-hidden" name="npc-included" value="false">
                    {% endfor %}
                </div>
                Encountered: <input id="checkbox" type="checkbox" name="locEncountered">
                <br>
                <br>
                <input type="hidden" id="left-coord" name="leftCoord">
                <input type="hidden" id="top-coord" name="topCoord">
                <input id="location-submit" type="submit">
            </form>
        </div>

        <div id="image-container">
            <div id="map">
                <img id="map-image" src="static/images/Barovia Map.jpg" alt="A map of Barovia">
                {% for row in locInfo %}
                    <a href="location?name={{row['name']}}">
                        <img class="pin-image" style="left:{{row['left_coord']}}%; top:{{row['top_coord']}}%;" src="https://www.freepnglogos.com/uploads/pin-png/map-pin-png-apex-dance-studio-16.png" alt="Pin on the map">
                        <div class="hidden-popup" style="left:{{row['left_coord']-5}}%; top:{{row['top_coord']+5}}%;">
                            <h3>{{row['name']}}</h3>
                            <i class="loc-short-desc">{{row['short_desc']}}</i>
                            <div class="image-container">
                                {% for i in connections %}
<!-- TODO: hide npc images on player view if not encountered-->
                                    {% if (i['location_name'] == row['name']) %}
                                        <img class="npc-icon" src="static/images/{{i['npc_name']}}.png" alt="{{i['npc_name']}}">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </body>
</html>