{% extends "base.html.j2" %}

{% block body %}

    <br>
    <h1>All NPCs:</h1>
    <div id="filter-container">
    {% for row in uniqueTags %}
        <button onclick="changeFilter('{{row['tag_name']}}')" id="{{row['tag_name']}}" class="filter-button">{{row['tag_name']}}</button>
    {% endfor %}
    </div>

    {% for row in npcs %}
        <div class="content-block">
            <a href="npc?name={{row['name']}}">
                <img class="npc-icon" src="static/images/{{row['name']}}.png" alt="{{row['name']}}">
                <p class="npc-title">{{row['name']}}</p>
            </a>
            {% for tag in tagInfo %}
                {% if (row['name'] == tag['npc_name']) %}
                    <span class="tag-icon">{{tag['tag_name']}}</span>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

    {% if playerView == 'false'%}
        <a href="add-npc">
            <button class="add-button">Add NPC</button>
        </a>
    {% endif %}

{% endblock %}